.icon-upwork {
    width: 25px;
    height: 25px;
}

.tags li {
    margin-top: 5px;
}

.project-card__link {
    text-align: right;
}

::-webkit-scrollbar {
    width: 6px;
    border-left: 1px solid #e6ecf8;
}

::-webkit-scrollbar-thumb {
    background-color: #293347;
}

.chart {
    justify-content: center;
}

.chart img {
    width: 65%;
    height: 100%;
    object-fit: cover;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 55px;
}

.social-links-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}